<tr id="<%= dom_id friend %>">
  <%if friend.user == current_user %>
  <td>
    <%= link_to friend.first_name + " " + friend.last_name, friend %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>
  
  <td>
    <%= button_to "Delete", friend, method: :delete, class:"btn btn-outline-danger btn-sm" %>
  </td>
  <% end %>
</tr>
